@use "media-queries";

:root {
  --font-oswald: "Oswald", sans-serif;
  --font-playfair: "Playfair Display", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-russo: "Russo One", sans-serif;
  --font-source: "Source Code Pro", monospace;
  --font-press: "Press Start 2P", cursive;
  --font-tektur: "Tektur", cursive;
  --font-elianto: "eliantoregular";
  --font-orbitron: "Orbitron", sans-serif;
  --font-blackpast: "blackpast";
  --font-bodwars: "bodwars";
  --font-moleth: "moleth";
  --font-rockyeah: "rockyeah";
  --font-cromback: "cromback";
  --font-lighters: "lighters";
  --font-1: clamp(4.5rem, 9vw, 5.8rem);
  --font-2: clamp(4.125rem, 8.25vw, 5.28rem);
  --font-3: clamp(3.75rem, 7.5vw, 4.8rem);
  --font-4: clamp(2.75rem, 5.5vw, 3.7rem);
  --font-5: clamp(2.25rem, 4.5vw, 3.1rem);
  --font-6: clamp(1.95rem, 3.9vw, 2.6rem);
  --font-7: clamp(1.725rem, 3.45vw, 2.3rem);
  --font-8: clamp(1.5rem, 3vw, 2rem);
  --font-9: clamp(1.275rem, 2.55vw, 1.7rem);
  --font-10: clamp(1.1125rem, 2.225vw, 1.5rem);
  --font-11: clamp(0.95rem, 1.9vw, 1.3rem);
  --font-12: clamp(0.7875rem, 1.575vw, 1.1rem);
  --font-13: clamp(0.6875rem, 1.375vw, 0.9rem);
  --font-14: clamp(0.5875rem, 1.175vw, 0.78rem);
  --font-15: clamp(0.4875rem, 0.975vw, 0.66rem);
}

@media screen and (max-width: media-queries.$breakpoint-desktop-wide) {
  :root {
    --font-1: clamp(4.25rem, 8.5vw, 5.4rem);
    --font-2: clamp(3.75rem, 7.5vw, 4.8rem);
    --font-3: clamp(3.25rem, 6.5vw, 4.2rem);
    --font-4: clamp(2.75rem, 5.5vw, 3.7rem);
    --font-5: clamp(2.25rem, 4.5vw, 3.1rem);
    --font-6: clamp(1.95rem, 3.9vw, 2.6rem);
    --font-7: clamp(1.725rem, 3.45vw, 2.3rem);
    --font-8: clamp(1.5rem, 3vw, 2rem);
    --font-9: clamp(1.275rem, 2.55vw, 1.7rem);
    --font-10: clamp(1.1125rem, 2.225vw, 1.5rem);
    --font-11: clamp(0.95rem, 1.9vw, 1.3rem);
    --font-12: clamp(0.7875rem, 1.575vw, 1.1rem);
    --font-13: clamp(0.6875rem, 1.375vw, 0.9rem);
    --font-14: clamp(0.5875rem, 1.175vw, 0.78rem);
    --font-15: clamp(0.4875rem, 0.975vw, 0.66rem);
  }
}

@media screen and (max-width: media-queries.$breakpoint-desktop) {
  :root {
    --font-1: clamp(3.75rem, 7vw, 4.8rem);
    --font-2: clamp(3.25rem, 6.5vw, 4.3rem);
    --font-3: clamp(2.75rem, 6vw, 3.8rem);
    --font-4: clamp(2.25rem, 5.5vw, 3.3rem);
    --font-5: clamp(1.75rem, 5vw, 2.8rem);
    --font-6: clamp(1.575rem, 4.5vw, 2.3rem);
    --font-7: clamp(1.4rem, 4vw, 2rem);
    --font-8: clamp(1.225rem, 3.5vw, 1.7rem);
    --font-9: clamp(1.05rem, 3vw, 1.5rem);
    --font-10: clamp(0.875rem, 2.8vw, 1.3rem);
    --font-11: clamp(0.7875rem, 2.5vw, 1.1rem);
    --font-12: clamp(0.7rem, 2.2vw, 1rem);
    --font-13: clamp(0.6125rem, 2vw, 0.9rem);
    --font-14: clamp(0.525rem, 1.8vw, 0.8rem);
    --font-15: clamp(0.4375rem, 1.6vw, 0.7rem);
  }
}

@media screen and (max-width: media-queries.$breakpoint-large-tablet) {
  :root {
    --font-1: clamp(3.875rem, 7.75vw, 4.95rem);
    --font-2: clamp(3.375rem, 6.75vw, 4.35rem);
    --font-3: clamp(2.875rem, 5.75vw, 3.75rem);
    --font-4: clamp(2.375rem, 4.75vw, 3.15rem);
    --font-5: clamp(1.875rem, 3.75vw, 2.55rem);
    --font-6: clamp(1.7rem, 3.4vw, 2.4rem);
    --font-7: clamp(1.525rem, 3.05vw, 2.1rem);
    --font-8: clamp(1.35rem, 2.7vw, 1.8rem);
    --font-9: clamp(1.175rem, 2.35vw, 1.55rem);
    --font-10: clamp(1rem, 2vw, 1.3rem);
    --font-11: clamp(0.875rem, 1.75vw, 1.15rem);
    --font-12: clamp(0.7625rem, 1.525vw, 1rem);
    --font-13: clamp(0.65rem, 1.3vw, 0.85rem);
    --font-14: clamp(0.5375rem, 1.075vw, 0.7rem);
    --font-15: clamp(0.4375rem, 0.875vw, 0.58rem);
  }
}

@media screen and (max-width: media-queries.$breakpoint-phone) {
  :root {
    --font-1: clamp(3.25rem, 6.5vw, 4.2rem);
    --font-2: clamp(2.75rem, 5.5vw, 3.7rem);
    --font-3: clamp(2.25rem, 4.5vw, 3.1rem);
    --font-4: clamp(1.75rem, 3.5vw, 2.6rem);
    --font-5: clamp(1.5875rem, 3.2vw, 2.2rem);
    --font-6: clamp(1.425rem, 2.8vw, 1.8rem);
    --font-7: clamp(1.25rem, 2.5vw, 1.6rem);
    --font-8: clamp(1.075rem, 2.2vw, 1.4rem);
    --font-9: clamp(0.9125rem, 1.8vw, 1.2rem);
    --font-10: clamp(0.8125rem, 1.625vw, 1rem);
    --font-11: clamp(0.7125rem, 1.425vw, 0.9rem);
    --font-12: clamp(0.6125rem, 1.225vw, 0.8rem);
    --font-13: clamp(0.525rem, 1.05vw, 0.7rem);
    --font-14: clamp(0.4375rem, 0.875vw, 0.6rem);
    --font-15: clamp(0.35rem, 0.7vw, 0.5rem);
  }
}
// ! codes for testing
// font-family: var(--font-oswald);
// font-family: var(--font-playfair);
// font-family: var(--font-roboto);
// font-family: var(--font-russo);
// font-family: var(--font-source);
// font-family: var(--font-press);
// font-family: var(--font-tektur);
// font-family: var(--font-elianto);
// font-family: var(--font-orbitron);
// font-family: var(--font-blackpast);
// font-family: var(--font-bodwars);
// font-family: var(--font-moleth);
// font-size: var(--font-10);
// color: var(--text-color-1);
